
@font-face {
    font-family: 'Mplus';
    src: url('../../fonts/Mplus1p-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.botones {
    padding-top: 35px;
    position: absolute;
    width: 100%;
}
body {
    background-image: url('../../image/back.gif');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
button.btn-close.boton-cerrar {
    position: absolute;
    left: 40px;
    z-index: 5;
}
.tarjeta{
   /* flex: auto;*/
    max-width: min-content;
    border-radius: 20%;
    position: relative;
      
}
.cerrar{
    position: absolute;
    top: 0;
    right: 16px;
}
.descripcion{
        max-width: 100%;
        max-height: 100%;
        font-size: small;
        position: absolute;
        z-index: 2;
        color: black;
        bottom: 1em;
        right: 0;
        left: 0;
}
.tarjeta img {
    border-radius: 15%;
    z-index: 1;
}
.rojo{
    background-color: red;
};
/*para botones*/




label {
    /* Presentation */
    font-size: 10px
  }
  
  /* Required Styling */
  
  label input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox {
    top: 30px;
    right: 3em;
    position: absolute;
    cursor: pointer;
    z-index: 5;
  }
  
  .custom-checkbox .glyphicon {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 0.4em;
    left: -1.25em;
    font-size: 0.75em;
    height: 25px;
  }
  
  .custom-checkbox .empty {
    color: rgb(255, 99, 99);
  }
  
  .custom-checkbox .full {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:hover .full{
    opacity: 0.5;
  }
  

  /* para animacion imagen*/
  .animacion:hover {
    animation: golden-frame 2s ease-in-out normal;
  }
  
  .golden-frame {
    content: "";
    position: relative;
  }
  /* css para marcho segun rareza*/

  .Ur {
    border-radius: 20%;
    background-clip: padding-box;
    background-image: linear-gradient(to right, #00e7ff, #ff00e7);
    background-size: 100% 100%;
    padding: 8px;
  }
  .Sr {
    border-radius: 20%;
    background-clip: padding-box;
    background-image: linear-gradient(to right, #ffd700, #fff700);
    background-size: 100% 100%;
    padding: 8px;
  }
  .R {
    border-radius: 20%;
    background-clip: padding-box;
    background-image: linear-gradient(to right, #40c4ff, #18ffff);
    background-size: 100% 100%;
    padding: 8px;
  }
  .C {
    border-radius: 20%;
    background-clip: padding-box;
    background-image: linear-gradient(to right, #a1887f, #e0cba8);
    background-size: 100% 100%;
    padding: 8px;
  }
  
  @keyframes golden-frame {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

/* para la tarjeta*/

@media only screen and (min-width: 600px) {
    .flex-shrink-0 img {
      max-width: 200px;
    }
  }


/*para el nombre de la tarjeta*/  

.nombre {
    font-size: 20px;
    color: white;
    background-color: rgba(17, 15, 15,0.8);
    font-family: 'Mplus';
}

