@font-face {
  font-family: "Mplus";
  src: url("../fonts/Mplus1p-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.card.animated.planeta.card-Ur {
  background-image: url("../image/Ur.gif");
  background-repeat: repeat;
}
.card.animated.planeta.card-Sr {
  background-image: url("../image/Sr.jpg");
  background-repeat: repeat;
}
.card.animated.planeta.card-R {
  background-image: url("../image/R.jpg");
  background-repeat: repeat;
}
.card.animated.planeta.card-C {
  background-image: url("../image/C.jpg");
  background-repeat: repeat;
}
.details-container {
  max-width: min-content;
  margin: auto;
}

.card-image {
  width: 350px;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  padding: 10px;
}

.nameCard {
  font-size: 1.5em;
  font-family: "Mplus";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: whitesmoke;
}
span {
  font-family: "Mplus";
  font-size: 1em;
}
.descrCard {
  margin-bottom: 20px;
  padding: 10px;
  margin: 10px;
  background-color: antiquewhite;
}
